# generate with "openssl rand -base64 30"
SECRET_KEY=
DEBUG=True
DATABASE_URL=postgresql://user:password@localhost/dbname
FLASK_APP=app
FLASK_DEBUG=1
FLASK_RUN_HOST=localhost
# development or production
ENV=development
#list of time zone: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones 
TZ=Asia/Kuala_Lumpur

# Email verification
# generate with "openssl rand -base64 30"
SECURITY_PASSWORD_SALT=
MAIL_DEFAULT_SENDER="MMU Confessions <noreply@mmu-confessions.com>"
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=
# If the MAIL_SERVER is smtp.gmail.com, generate an App Password from google: https://myaccount.google.com/apppasswords
MAIL_PASSWORD=

# Microsoft OAuth (archieved)
# MICROSOFT_CLIENT_ID= #your_microsoft_client_id_here
# MICROSOFT_CLIENT_SECRET= #your_microsoft_client_secret_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=#your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=#your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=#your_cloudinary_api_secret_here

# Supabase
SUPABASE_PASSWORD=#your_supabase_password_here

# App config
ENABLE_EMAIL=False
